
    .buttons {
      position: absolute;
      bottom: 10%;
      left: 0%;
      width: 25%;
      height: 5em;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      z-index: 15;
    }
    
    .help {
      position: absolute;
      bottom: 2.5%;
      left: 0%;
      width: 25%;
      height: 5em;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      z-index: 10;
    }
